# Файлы и директории, специфичные для IntelliJ IDEA
.idea/
*.iml
*.iws

# Директория сборки и вывода
target/
out/
build/

# Директория с настройками Gradle
.gradle/

# Логи
log/
*.log

# Файлы классов
*.class

# Папки и файлы macOS
.DS_Store

# Другие временные файлы
*.tmp
*.bak
*.swp
*.save